/*
            MOBILE STYLING
*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    padding-bottom: 30px;
}

.logo {
    height: 90%;
    width: 90%;
    padding-left: 30px;
}

.crest {
    padding-top: 10px;
    height: 50%;
    width: 50%;
}

.homepage {
    background-color: lightsteelblue;
}