/*
            MOBILE STYLING
*/

.section{
    padding-top: 1px;
    background-color: darkslategrey;
    padding-bottom: 100px;
}
.tank_names{
    text-align: center;
    color: darkblue;
}
.healer_names{
    text-align: center;
    color: darkgreen;    
}
.dps_names{
    text-align: center;
    color: darkred;
}

.h2{
    text-indent: 15px;
}

.roster_display {
    display: grid;
    grid-template-columns: repeat(1fr, 3);
    grid-template-rows: repeat 4(1fr, 4);
}

.display_name{
    display: grid;
    grid-column: 1 span 4;
    grid-row: 1;
}
.display_jobs {
    display: grid;
    grid-column: 1 span 4;
    grid-row: 2;
}

.tank_icon{
    grid-column: 1;
    grid-row: 3;
} 
.healer_icon{
    grid-column: 2;
    grid-row: 3;

} 
.dps_icon {
    grid-column: 3;
    grid-row: 3;
}

.assign_button {
    grid-column: 1;
    grid-row: 4;
}

.remove_button {
    grid-column: 3;
    grid-row: 4;
}

.rosterBlock {
    background-color: lightgray;
    border-radius: 25px;
}
.tankBlock {
    background-color: lightskyblue;
    border-radius: 25px;
}
.healerBlock {
    background-color: lightgreen;
    border-radius: 25px;
}
.dpsBlock {
    background-color: lightcoral;
    border-radius: 25px;
}