/*
            MOBILE STYLING
*/

.tank_names{
    text-align: center;
    color: darkblue;
}
.healer_names{
    text-align: center;
    color: darkgreen;    
}
.dps_names{
    text-align: center;
    color: darkred;
}

.h2{
    text-indent: 15px;
}

.roster_display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30px 1fr 50px 50px;
}

.display_name{
    grid-column: 1 / 4;
    grid-row: 1;
}
.display_jobs {    
    grid-column: 1 / 4;
    grid-row: 2;
}

.tank_icon{
    grid-column: 1;
    grid-row: 3;
} 
.healer_icon{
    grid-column: 2;
    grid-row: 3;

} 
.dps_icon {
    grid-column: 3;
    grid-row: 3;
}

.assign_button {
    grid-column: 1;
    grid-row: 4;
}

.remove_button {
    grid-column: 3;
    grid-row: 4;
}

.rosterBlock {
    background-color: lightgray;
    border-radius: 25px;
}
.tankBlock {
    background-color: lightskyblue;
    border-radius: 25px;
}
.healerBlock {
    background-color: lightgreen;
    border-radius: 25px;
}
.dpsBlock {
    background-color: lightcoral;
    border-radius: 25px;
}

/*---------------------------------------------------------------------------------------*/
/*
                TABLET VIEW
*/
@media only screen and (min-width: 768px) {
    .roster_display {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
    .display_name{
        font-size: 20px;
        grid-column: 1 / 4;
        grid-row: 1;
    }
    .display_jobs {    
        font-size: 18px;
        grid-column: 1 / 4;
        grid-row: 2;
    }
    
    .tank_icon{
        height: 100px;
        width: auto;
        grid-column: 1;
        grid-row: 3;
    } 
    .healer_icon{
        height: 100px;
        width: auto;
        grid-column: 2;
        grid-row: 3;
    
    } 
    .dps_icon {
        height: 100px;
        width: auto;
        grid-column: 3;
        grid-row: 3;
    }
    
    .assign_button {
        grid-column: 2;
        grid-row: 1;
        border-radius: 25px;
        margin: 10px;
    }
    
    .remove_button {
        grid-column: 3;
        grid-row: 1;
        border-radius: 25px;
        margin: 10px;
    }

    .section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 50px;
    }

    .dpsBlock, .tankBlock, .healerBlock {
        font-size: 20px;
        margin: 10px;
    }

    .wipe_team {
        grid-column: 1 / 4;
        grid-row: 2;
    }
}

/*---------------------------------------------------------------------------------------*/
/*
                DESKTOP VIEW
*/
@media only screen and (min-width: 1024px) {
}